[Unit]
Description=Kabir Bridge Telegram Bot
After=network.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/home/ec2-user/kabir-bridge-bot
ExecStart=/bin/bash -c 'source /home/ec2-user/kabir-bridge-bot/venv_py311/bin/activate && python3.11 /home/ec2-user/kabir-bridge-bot/bot/bot.py'
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 